<div class="nav-scrollable">
    <nav class="flex-column">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Pull requests" Icon="home" Path="pullrequests" />
        </RadzenPanelMenu>
    </nav>
</div>
