<div class="nav-scrollable">
    <nav class="flex-column">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Builds" Icon="home" Path="builds" />
        </RadzenPanelMenu>
    </nav>
</div>